{% extends 'base.html.twig' %}

{% block title %}AnthonyKGross.fr - FFmpeg - Partie 2 - Commandes de base{% endblock %}
{% block description %}Article - FFmpeg - Partie 2 - Commandes de base.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-commandes-base' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/anthonykgrossfrmain/images/Articles/ffmpeg.jpg") }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>FFmpeg - Partie 2 - Commandes de base</h2>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h3>Information sur une vidéo</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i maVideo.avi</code></pre>
                            </p>
                            <h3>Convertir une vidéo en série d'images</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video.mpg image%d.jpg</code></pre>
                            </p>
                            <h3>Convertir une vidéo pour les iPod/iPhone</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.avi input -acodec aac -ab 128kb -vcodec mpeg4 -b 1200kb -mbd 2 -flags +4mv+trell -aic 2 -cmp 2 -subcmp 2 -s 320x180 -title X final_video.mp4</code></pre>
                            </p>
                            <h3>Convertir vidéo pour une PSP</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.avi -b 300 -s 320x240 -vcodec xvid -ab 32 -ar 24000 -acodec aac final_video.mp4</code></pre>
                            </p>
                            <h3>Extraire un son d'une vidéo, et la sauvegarder en MP3</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.avi -vn -ar 44100 -ac 2 -ab 192 -f mp3 sound.mp3</code></pre>
                            </p>
                            <h3>Convertir .avi en .mpg</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi video_finale.mpg</code></pre>
                            </p>
                            <h3>Convertir .avi en gif animé non compressé</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi gif_anime.gif</code></pre>
                            </p>
                            <h3>Convertir .avi en.flv</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -ab 56 -ar 44100 -b 200 -r 15 -s 320x240 -f flv video_finale.flv</code></pre>
                            </p>
                            <h3>Convertir .avi en dv</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -s pal -r pal -aspect 4:3 -ar 48000 -ac 2 video_finale.dv</code></pre>
                                ou
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -target pal-dv video_finale.dv</code></pre>
                            </p>
                            
                            <h3>Convertir .avi en mpeg pour un lecteur DVD</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.avi -target pal-dvd -ps 2000000000 -aspect 16:9 finale_video.mpeg</code></pre>
                            </p>
                            <h3>Couper un MP3 de la 8ème seconde et d'une durée de 23 secondes</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_audio.mp3 -ss 08 -t 23 finale_audio.mp3</code></pre>
                            </p>
                            <br/>
                            <p>
                                Consultez l'article <a href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-partie-3-commandes-avancees' }) }}">FFmpeg - Partie 3 - Commandes avancées</a> si vous souhaitez connaitre tout le potentiel de FFmpeg.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fb-comments" data-href="http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-commandes-base' }) }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}