{% extends 'base.html.twig' %}

{% block title %}AnthonyKGross.fr - JDEV 2015 - Bordeaux{% endblock %}
{% block description %}&Eacute;vènement - JDEV 2015 - Bordeaux.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_page_lire', {'name' : 'jdev-bordeaux-2015' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/anthonykgrossfrmain/images/Articles/jdev_2015.jpg") }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>JDev 2015</h2>
                <p>
                    La JDev est un réseau des acteurs du développement logiciel au sein de l'enseignement supérieur et de la recherche
                    dont sa mission essentielle est de favoriser les échanges : soutien aux réseaux régionaux dans leurs actions, 
                    offre complémentaire d’actions et de formations, lien entre la communauté et les tutelles afin de 
                    remonter les réalités du terrain.
                </p>
            </div>
            <div class="item">
                <figure>
                    <img src="{{ asset('bundles/anthonykgrossfrmain/images/Articles/jdev_2015.jpg') }}" alt="Thumbnail" />
                </figure>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Les sessions</h2>
                            <p>
                                Durant ces journées, j'ai eu l'occasion de participer à différentes présentations et ateliers. Voici le détail:
                            </p>
                            <br/>
                            <h3>Une usine logicielle pour industrialiser le développement, l'intégration continue et le déploiement avec des 
                                conteneurs</h3>
                            <p>
                                Le principe de cet atelier était de nous démontrer les avantages de l'architecture orientée MicroServices par 
                                rapport à SOA (Service Oriented Architecture). Pour être honnête, je ne voyais pas la subtilité entre ces 
                                différentes architectures mais il s'avère que celle de MicroService comporte de beaux avantages.
                            </p>
                            <p>
                                SOA limite la communication entre les services avec l'utilisation d'orchestrateurs. 
                                Ceux-ci organisent les services afin d'éviter les appels direct entre-eux, et obligent chaque entrées/sorties à passer par eux. 
                                Quant à MicroService, les orchestrateurs existent toujours mais leur rôle est 
                                d'orienter seulement les communcations. Les services peuvent se répondre directement.
                            </p>
                            <p>
                                Microservice a pour principe de faire de chaque fonctionnalité un service indépendant alors que 
                                SOA favorisera l'implémentation des fonctionnalités au sein d'un gros service afin de simplifier les communications (orchestrateur); 
                                le problème du choix du langage doit correspondre du coup à chacune des fonctionnalités.
                            </p>
                            <p>
                                Plus les services sont petits et autonomes, et plus il est facile de les corriger, tester et deployer.
                            </p>
                            <p>
                                <b>Bilan</b> : 
                                <ul> 
                                    <li>Autonomie : Les services doivent être évalués indépendamment sans que l'un compromette l'autre. (Code source, depôts, etc ..)</li>
                                    <li>Scalabilité : Sachant que chaque service est désormais autonome, il est 
                                            possible d'augmenter le nombre de services 
                                            aux besoins avec peu de configuration</li>
                                    <li>Choix du meilleur language pour chaque service : l'hétérogénéité des solutions techniques masquée derrière l'API.</li>
                                    <li>Favorise l'utilisation de machine virtuelles (conservation de l'autonomie).</li>
                                </ul>
                            </p>
                            <br/>
                            <h3>Les technologies du Web des Données</h3>
                            <p>
                                L'atelier présentais l'utilisation de RDF (Ressource Description Framework) ainsi que ses formats et ses utilisations. Nous avons vu ce qu'était un triplet, de quoi il est composé, comment nous pouvons créer les notres et les interroger.
                            </p>
                            <p>
                                Tout d'abord, à quoi ça sert ? Je vais prendre l'exemple qui a été prit lors de l'atelier : selon le contexte, un mot peut avoir diffentes significations; par exemple : un fouet. En cuisine ou en équitation, le sens varie alors que son orthographe non; et les moteurs de recherche actuels sont incapable de faire la distinction entre ces deux sens. 
                                Le but de RDF est donc de créer des dictionnaires à partir d'existants et de rajouter du sens. Chacun de ces mots est appellé triplet. Un triplet est composé d'un Sujet, d'un Prédicat et d'un Objet.
                            </p>
                            <p>
                                Une fois votre ressource créée, vous pouvais l'interroger avec des requêtes SPARQL et remonter dans l'ensemble des dictionnaires hérités. 
                                &Agrave; la fin, vous participer la création d'un gigantesque graphe répertoriant toutes les entités.
                            </p>
                            <br/>
                            <h3>Docker et orchestration</h3>
                            <p>
                                Une petite initiation à Docker pour finir le JDev directement présentée par un membre de la docker team de San Francisco, J.Petazzo. 
                                Par où commencer ? Docker est tout simplement génial !<br />
                                
                                Pour ceux qui ne connaissent pas Docker : <a href="https://www.docker.com/" target="_blank">Docker</a> | <a href="https://webcast.in2p3.fr/videos-introduction_a_docker" target="_blank">Présentation</a>
                            </p>
                            <p>
                                Lors de l'atelier, nous avons pu tester le rapport entre limite logiciel et limite du serveur. 
                                Il arrive souvent que le logiciel atteigne sa limite de performance alors que le serveur est peu utilisé. 
                                Docker permet de dupliquer facilement ses logiciels pour profiter pleinement des ressources serveurs allouées.
                            </p>
                            <p>
                                Un des points qui m'a beaucoup plus sur Docker, c'est son fichier de configuration pour créer et déployer une machine virtuelle. 
                                C'est très simple d'utilisation et ce fichier est versionnable ce qui rend accessible l'architecture réseau aux développeurs.
                            </p>
                            <p>
                                Il est possible de générer des machines virtuelles spécifiques et pré-configurer grâce au DockerHub.
                            </p>
                            <p>
                                Pour finir, grâce à Swarm (actuellement en Alpha) il sera bientot possible de créer des clusters facilement à partir des containers.
                            </p>
                            <p>
                                <b>Bilan</b> : 
                                <ul> 
                                    <li>Facilite de deploiment : génération de machines viruelles à partir d'un fichier de configuration versionnable</li>
                                    <li>Scalabilité : Duplication des machines</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h2>Conclusion</h2>
                            <p>
                                Ce Jdev a été très enrichissant pour moi car j'ai pu voir l'étendue de certaines technologies notamment Docker. 
                                Je compte prendre le temps de mieux me former afin de pouvoir les intégrer à mes projets. 
                                Malgré quelques problèmes d'organisation et de climat, les sessions se sont plutôt bien déroulées, même si certaines n'ont pas été à la hauteur de mes exigences.
                                Sur ce, j'ai garé mon aligator en double file. Tchou !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h3>Liens utiles</h3>
                            <li><a href="http://devlog.cnrs.fr/jdev2015" target="_blank">jDev 2015</a></li>
                            <li><a href="https://webcast.in2p3.fr/live/jdev-amphi-D" target="_blank">Présentations de la jDev - Amphi D</a></li>
                            <li><a href="https://webcast.in2p3.fr/live/jdev-amphi-E" target="_blank">Présentations de la jDev - Amphi E</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="meta-desc">
                <i class="fa fa-calendar"></i> &nbsp; Le 10 Juillet 2015 <span class="font-slight"></span> 
            </div>
            <br/>
            <div class="fb-comments" data-href="http://{{ app.request.host ~ path('anthonykgrossfr_page_lire', {'name' : 'jdev-bordeaux-2015' }) }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
