{% extends 'base.html.twig' %}

{% block title %}AnthonyKGross.fr - Le CV - Developpeur freelance sur Marseille{% endblock %}
{% block description %}Consultez le CV d'Anthony K GROSS.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_cv') }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="cv" class="single-page">
            <div class="header margin-bottom40">
                <h2>Analyste Développeur</h2>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span8">
                            <h3>Etudes</h3>
                            <p>
                                2011 – Licence Informatique SIL-NTI (Nouvelles Technologies)
                            </p>
                            <p>
                                2010 – BTS informatique de gestion option développeur d’applications
                            </p>
                            <p>
                                2008 – BAC STG (télécommunication-gestion) avec mention AB
                            </p>
                        </div>
                        <div class="span4" style="text-align: right;">
                            <img src="{{ asset('bundles/anthonykgrossfrmain/images/photo_143.jpg') }}" alt="Anthony Kkuet GROSS">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="skills">
                <div class="span12">
                    <h3>Connaissances informatiques</h3>
                    <div class="row">
                        <div class="span4">
                            <h4 class="bolded">Langages</h4>
                            <p>Java (POO, C/S, Threads, notions OpenGL, MVC)</p>
                            <p>C# (POO, connexion aux bases de données)</p>
                            <p>Python (& Django)</p>
                            <p>Shell (Automatisation des installations serveurs)</p>
                        </div>
                        <div class="span4">
                            <h4 class="bolded">Web</h4>
                            <p>PHP (POO, Zend Framework, Symfony 1.4 & 2+)</p>
                            <p>Javascript (Ajax, jQuery + plugins, NodeJs, RequireJs)</p>
                            <p>HTML, CSS, XML (norme W3C).</p>
                            <p>E-commerce: ZenCart, Joomla, PrestaShop (+modules)</p>
                            <p>Flash (notions)</p>
                        </div>
                        <div class="span4">
                            <h4 class="bolded">Technologies</h4>
                            <p>ZeroMQ, ActiveMQ, Celery (& RabbitMQ)</p>
                            <p>Conception de webservices (Client et Serveur) : REST, SOAP.</p>
                            <p>Systèmes d’authentification/autorisation : OAuth2, WSSE, OpenID</p>
                            <p>Intégration continue : Travis CI, Jenkins</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <h4 class="bolded">API</h4>
                            <p>Youtube, DailyMotion</p>
                            <p>Facebook, Twitter, Google</p>
                            <p>OVH</p>
                        </div>
                        <div class="span4">
                            <h4 class="bolded">Mobile</h4>
                            <p>Android (toutes versions)</p>
                            <p>Market : Google Play</p>
                            <p>Design responsive</p>
                        </div>
                        <div class="span4">
                            <h4 class="bolded">Bases de données</h4>
                            <p>MySQL</p>
                            <p>PostgreSQL</p>
                            <p>Oracle</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <h4 class="bolded">Analyse Informatique</h4>
                            <p>Merise/2</p>
                            <p>UML</p>
                        </div>
                        <div class="span4">
                            <h4 class="bolded">Logiciels</h4>
                            <p>Audio/Photo/Vidéo (Photoshop, Magix Vidéo Deluxe, Ulead Photo Impact)</p>
                            <p>Bureautique (Word, Excel, Access, Powerpoint) - MicrosoftOffice & LibreOffice</p>
                            <p>Conception (MySQL Workbench, ArgoUML, Dia Diagramm)</p>
                        </div>
                        <div class="span4">
                            <h4 class="bolded">Réseau</h4>
                            <p>Installation et configuration</p>
                            <p>Serveur SVN, Git, Web, FTP, Encodage, Streaming (Wowza), Virtualisation (Proxmox)</p>
                            <p>Oracle</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <h3>Expérience professionnelle</h3>
                    <p>2014-02 - CNRS (Laboratoire d’Astrophysique de Marseille) – Ingénieur logiciel.</p>
                    <p>2012-04 - Kalyzée Interactive Pictures – Ingénieur logiciel.</p>
                    <p>2011-09 - CDD 6 mois – LordOfWeb – Développeur web.</p>
                    <p>2011-06 - Stage de 12 semaines – Idvive SARL (Marseille) Mise en place Prestashop & développement module.</p>
                    <p>2010-01 - Stage de 9 semaines – GEIQ BTP 13 (Marseille) Développement d’un site web (php).</p>
                    <p>2009-08 - Kosmetik-Direkt24 (Allemagne) Développement d’un site web commercial, ZenCart.</p>
                    <p>2009-05 - Stage de 6 semaines – R&D Internet (La Ciotat) Développement d’un back office de site web (php).</p>
                    <p>2008-11 - Réalisation d’un site web pour l’association Anachronique.</p>
                </div>
                <div class="span4">
                    <div class="row">
                        <h3>Langues vivantes</h3>
                        <p>Anglais niveau universitaire.</p>
                        <p>Allemand courant (lu – parlé – écrit).</p>
                        <h3>Informations personnelles</h3>
                        <p>27 ans, célibataire.</p>
                        <p>Loisirs : Informatique, mangas, guitare, lecture, activités physiques.</p>
                        <p>Projets personnels informatiques : <a href="http://anthonykgross.fr" target="_blank">AnthonyKGross.fr</a> , <a href="http://Sharingame.com" target="_blank">Sharingame.com</a> …</p>
                    </div>
                </div>
            </div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
