
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/docker/logs/*.log
.idea
.DS_Store
public/libs
/node_modules
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###
