/src/web/bundles/
/src/app/bootstrap.php.cache
/src/app/cache/*
/src/app/logs/*
!/src/app/cache/.gitkeep
!/src/app/logs/.gitkeep
/src/build/
/src/vendor/
/src/bin/
/nbproject
/src/web/libs/
/src/npm-debug.log
/src/node_modules/
/logs/*.log
.idea