a, a:visited, #header .arrow-link a:hover, #navigation .nav-menu ul li.active a, #navigation .nav-menu ul li a.selected, #navigation .nav-menu ul li a:hover, #services .item i { color:#4B4B4B; }

a:hover { color:#404040; } /* Don't change the value */

.header { border-left:3px solid #11a0b5; }

.flex-control-paging li a { background-color:#bdedf4; }

.btn, .tbl-skills .item .tbl-skills-process, #about .teams .item figure p, #partners .teams .item figure p, .testimonials, .tweets, #blog .nav-page a.active, #blog .nav-page a:hover, #blog .item figure a, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color:#4B4B4B; }

.btn:hover, #blog .item figure a:hover { background-color:#404040; } /* Don't change the value */

figure.figure-hover div { background-color:#11a0b5; opacity: 0.7;}

.testimonials, .tweets {
    border-top:1px solid #11a0b5;
    border-bottom:1px solid #11a0b5;	
}
.tweets { border-bottom:0px; }

.testimonials .testimonials-icon, .tweets .tweets-icon { color:#11a0b5; }

.tbl-skills .item .tbl-skills-process {
    background-color: #11a0b5;
}
#contact .btn {
    background-color: #11a0b5;
}
.footer-social ul li a:hover{
    color: #11a0b5;
}

#blog .item figure a{
    background-color: #11a0b5;
}

.single-page a, .single-blog a, .blog a{
    color: #11a0b5;
}
.single-page a:hover, .single-blog a:hover, .blog a:hover{
    color: #4B4B4B;
}

/* CV */
#cv .row{
    margin-bottom: 20px;
}

h4.bolded {
    font-weight: bold;
    color:  #4B4B4B;
}

pre.code{
    
}