a, a:visited, #logo .arrow-link a:hover, #navigation .nav-menu ul li.active a, #navigation .nav-menu ul li a.selected, #navigation .nav-menu ul li a:hover, #services .item i { color:#df9e20; }

a:hover { color:#404040; } /* Don't change the value */

.header { border-left:3px solid #df9e20; }

.flex-control-paging li a { background-color:#efd5a4; }

.btn, .tbl-skills .item .tbl-skills-process, #apropos .teams .item figure p, .testimonials, .tweets, #blog .nav-page a.active, #blog .nav-page a:hover, #blog .item figure a, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color:#df9e20; }

.btn:hover, #blog .item figure a:hover { background-color:#404040; } /* Don't change the value */

figure.figure-hover div { background-color:rgba(223, 158, 32, .7); }

.testimonials, .tweets {
    border-top:1px solid #be810d;
    border-bottom:1px solid #be810d;	
}
.tweets { border-bottom:0px; }

.testimonials .testimonials-icon, .tweets .tweets-icon { color:#fdc353; }