body {
    padding-top: 3.5rem;
    background: #f6f6f6 url(/build/images/base-content.d0d54a7a.jpg) repeat;
}

body .navbar {
    background: #f6f6f6 url(/build/images/base-content.d0d54a7a.jpg) repeat;
}
.separator {
    height: 30px;
    background: url(/build/images/sep-border-main.b8657529.png) no-repeat 50%;
}

/*PARTNER*/
#partners {
    text-align: justify;
}
#partners .mates {
    margin-top: 3rem;
}
#partners .mates .mate {
    padding-bottom: 3rem;
}
#partners .mates .mate figure {
    position: relative;
}
#partners .mates .mate figure img {
    width: 100%;
}
#partners .mates .mate figure p {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #232525;
    padding: 8px 15px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
#partners .mates .mate .name {
    margin-bottom: 15px;
}
#partners .mates .mate p.description {
    height: 100px;
}
#partners .mates .mate .social {
    margin-top: 15px;
    padding-left: 0;
}
#partners .mates .mate .social li {
    list-style-type: none;
    display: inline;
    margin-right: 12px;
}

/*MAP*/
.map {
    height: 250px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
}
/*CONTACT*/
#contact .col-md-12{
    text-align: justify;
}
/*SOCIAL*/
#social {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}
#social ul li{
    list-style-type: none;
    display: inline;
    margin: 0 45px;
}
#social ul li i {
    font-size: 54px;
    line-height: 76px;
}
/*FOOTER*/
footer p {
    text-align: center;
}