$blue:    #598dbb;
$indigo:  #6610f2;
$purple:  #9876aa;
$pink:    #e83e8c;
$red:     #BC3F3C;
$orange:  #cc7832;
$yellow:  #e4c66d;
$green:   #6a8759;
$teal:    #20c997;
$cyan:    #17a2b8;
$brown:   #232525;

$body-color: $brown;
//$font-size-base: 0.9rem;