<p>
    Bonjour {{name}},<br/><br/>
    Votre email traitant du sujet <b>{{subject}}</b> m'est bien parvenu. Je vous repondrais dès que possible.<br/><br/>

    <u>Récapitulatif</u><br/>
    {% include "AnthonykgrossfrMainBundle:Default:email.html.twig" %}
    <br>
    <div dir="ltr">
        <div>
            <font color="#cccccc">------------------------------<wbr>------------------------------<wbr>------------------------------<wbr>-------------------------------<wbr>------------------------------</font>
        </div>
        <div style="float: left;">
            <img src="http://anthonykgross.fr/images/akg.png" style="width: 100px; height: 100px; margin-right: 20px;">
        </div>
        <div style="float: left;">
            <b>
                Anthony GROSS
            </b>
            <div>
                <font color="#444444">DEVELOPER &amp; FREELANCE&nbsp;</font>
            </div>
            <div>
                <font color="#444444">En poste au Laboratoire d'Astrophysique de Marseille - CNRS</font>
            </div>
            <br>
            <div>
                <font color="#444444">Mobile : <a href="http://anthonykgross.fr/vcard.vcf" target="_blank">+33 6 99 49 42 90</a></font>
            </div>
            <div>
                <font color="#444444">Email &nbsp;: <a href="mailto:anthony.k.gross@gmail.com" target="_blank">anthony.k.gross@gmail.com</a>
                </font>
            </div>
            <div>
                <font color="#444444">Site &nbsp; &nbsp; : <a href="http://anthonykgross.fr" target="_blank">AnthonyKGross.fr</a></font>
            </div>
        </div>
        <div style="float: left;">
            <img src="http://anthonykgross.fr/images/qrcode.png" style="width: 100px; height: 100px; margin-left: 20px;">
        </div>
        <span style="clear: both;"></span>
    </div>
</p>