a, a:visited, #header .arrow-link a:hover, #navigation .nav-menu ul li.active a, #navigation .nav-menu ul li a.selected, #navigation .nav-menu ul li a:hover, #services .item i { color:#e63737; }

a:hover { color:#404040; } /* Don't change the value */

.header { border-left:3px solid #e63737; }

.flex-control-paging li a { background-color:#fbbfac; }

.btn, .tbl-skills .item .tbl-skills-process, #about .teams .item figure p, .testimonials, .tweets, #blog .nav-page a.active, #blog .nav-page a:hover, #blog .item figure a, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color:#e63737; }

.btn:hover, #blog .item figure a:hover { background-color:#404040; } /* Don't change the value */

figure.figure-hover div { background-color:rgba(230, 55, 55, .7); }

.testimonials, .tweets {
	border-top:1px solid #c61919;
	border-bottom:1px solid #c61919;	
}
.tweets { border-bottom:0px; }

.testimonials .testimonials-icon, .tweets .tweets-icon { color:#fc6868; }