{% extends 'base.html.twig' %}

{% block title %}La d&eacute;couverte tant attendue de la page introuvable{% endblock %}
{% block description %}Il n'y a surement rien &agrave; voir ici.{% endblock %}

{% block body %}
    <section>
        <div class="header">
            <h2>Article introuvable</h2>
            <p>Soit l'article n'existe pas, soit il y a un bug. J'opte pour la première solution :)</p>
        </div>
    </section>
{% endblock %}
