{% extends 'base.html.twig' %}

{% block title %}AnthonyKGross.fr - Le CV - Developpeur freelance sur Marseille{% endblock %}
{% block description %}Consultez le CV d'Anthony K GROSS.{% endblock %}

{% block body %}
    <div class="container">
        <section class="single-page">
            <div class="header margin-bottom40">
                <h2>Article introuvable</h2>
                <p>Soit l'article n'existe pas, soit il y a un bug. J'opte pour la première solution :)</p>
            </div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}
