{% extends 'base.html.twig' %}

{% block title %}AnthonyKGross.fr - FFmpeg - Partie 3 - Commandes avancées.{% endblock %}
{% block description %}Article - FFmpeg - Partie 3 - Commandes avancées.{% endblock %}
{% block og_url %}{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-partie-3-commandes-avancees' }) }}{% endblock %}
{% block og_image %}http://{{ app.request.host ~  asset("bundles/anthonykgrossfrmain/images/Articles/ffmpeg.jpg") }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="blog" class="single-page">
            <div class="header margin-bottom40">
                <h2>FFmpeg - Partie 3 - Commandes avancées</h2>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h3>Effacer la piste audio 0:2 d'une vidéo</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -i -map 0:0 -map 0:1 -map 0:3 -codec copy video_finale.avi</code></pre>
                            </p>
                            <h3>Remplacer un son dans une vidéo</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -i son.mp3 -codec copy video_finale.avi</code></pre>
                            </p>
                            <h3>Ajouter un son à une vidéo</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -i son.mp3 -map 0 -map 1 -codec copy video_finale.avi</code></pre>
                            </p>
                            <h3>Ajouter plusieurs sons à une vidéo</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -i son1.mp3 -i son5.mp3 -i son9.mp3 -map 0 -map 1 -map 2 -map 3 -codec copy video_finale.avi</code></pre>
                            </p>
                            <h3>Spécifier la langue allemande de la piste audio 3</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.mov -metadata:s:a:2 language=ger -map 0 -codec copy video_finale.mov</code></pre>
                            </p>
                            <h3>Ajouter un son à une vidéo entre la piste audio 1 (0:1) et 2 (0:2)</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.avi -i son.mp3 -map 0:1 -map 1 -map 0:2 -codec copy video_finale.avi</code></pre>
                            </p>
                            <h3>Convertir .avi multipiste (plusieurs flux audio) en mpeg et conserver tous les flux (audio+ vidéo)</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.avi -map 0 finale_video.mpeg</code></pre>
                            </p>
                            <h3>Convertir .avi multipiste (plusieurs flux audio) en mpeg et conserver la piste 1 et 3</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.avi -map 0:0 -map 0:2 finale_video.mpeg</code></pre>
                            </p>
                            <h3>Graver un sous-titre ASS sur une video MP4</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i source_video.mp4 -vf ass=sous_titre.ass finale_video.mp4</code></pre>
                            </p>
                            <h3>Fusionner un MP3 (son2) à la fin d'un autre (son1)</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i "concat:son1.mp3|son2.mp3" output.mp3</code></pre>
                            </p>
                            <h3>Extraire une thumbnail toutes les 5 minutes de video</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.mp4 -vf fps=fps=1/300 %d.png</code></pre>
                            </p>
                            <h3>Doubler la durée d'une video (video + audio)</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.mp4 -filter:a 'atempo=0.5' -filter:v 'setpts=2.0*PTS' finale_video.mp4</code></pre>
                            </p>
                            <h3>Superposer deux pistes audio</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i track1.mp3 -i track2.mp3 -filter_complex "amerge,pan=stereo:c0&#60;c0+c2:c1&#60;c1+c3" -c:a libmp3lame -q:a 4 final.mp3</code></pre>
                            </p>
                            <h3>Réduit le volume d'un son de 90%</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i track1.mp3 -af "volume=0.1" final.mp3</code></pre>
                            </p>
                            <h3>Créer le .M3u8 d'une video</h3>
                            <p>
                                <pre class="language-bash"><code>ffmpeg -i video_origine.mp4 -map 0 -bsf h264_mp4toannexb -c copy -f segment -segment_list video_origine.m3u8 video_origine%03d.ts</code></pre>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fb-comments" data-href="{{ path('anthonykgrossfr_page_lire', {'name' : 'ffmpeg-partie-3-commandes-avancees' }) }}" data-numposts="5" data-width="100%"></div>
        </section> <!-- End blog -->
    </div> <!-- End container -->
{% endblock %}